<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">C:\Users\frkyz\git\selenium_examples\Log4j\logs
		</Property>
	</Properties>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
        </Pattern>
    </layout>
</appender>

<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>C:\Users\frkyz\git\selenium_examples\Log4j\logs\prints.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
</appender>

<logger name="alpha.Demo" level="trace"/>

<root level="trace">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE" />
</root>
</Configuration>