<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Personal loan">
		<classes>
			<class name="tests.FirstTest">
				<methods>
					<include name="Demo"></include>
				</methods>
			</class>
			<class name="tests.SecondTest" />
			<class name="tests.FourthTest" />

		</classes>
	</test> <!-- Test -->


	<test name="Car loan">
		<classes>
			<class name="tests.ThirdTest">
				<methods>	
					<exclude name="API.*"></exclude>
					<!-- with ".*" expression you can run the test cases that are start with the 
					previous name for example "Mobile" in this case  -->
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->